<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Buscador - Ofertas </title>
        <!-- Stylesheet SOLO para pruebas, quitarla luego -->
        <link rel="stylesheet" href="ofertastrabajo.component.css">
    </head>
    
    <body>
        <div class="contenedor">
            <div class="filtros"> 
                <h1> Tipo de inmueble </h1>
                <div class="combobox"> <img class="flecha" src="../../../assets/Polygon 2.png"> </div> 
                
                <h1> Precio </h1>
                <div class="slidecontainer">
                    <span class="numero_inicio"> 0</span> 
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <span class="numero_fin"> ∞ </span>
                </div>

                <h1> Estado </h1>
                <div class="combobox"> <img class="flecha" src="../../../assets/Polygon 2.png"> </div> 

                <h1> Equipamiento </h1>
                <div class="combobox"> <img class="flecha" src="../../../assets/Polygon 2.png"> </div> 
                
                <!-- <img class="icono" src="../../../assets/Noticias.png"> -->
                <h2> Noticias </h2>  
                
                <!-- <img class="icono" src="../../../assets/Vector.png"> -->
                <h2> Actividades </h2>

            </div>
            
            <div class="ofertas"> 
                <h3 class="sugerencia"> Le sugerimos los siguientes trabajos: </h3>
                <br>
                <div class="order" > 
                    <h3 class="ordenar"> Ordenar por: </h3>
                    <div class="combobox"> 
                        <img class="flecha" src="../../../assets/Polygon 2.png"> 
                    </div>
                </div>

                <div class="subcontenedor"> 
                    
                        <div *ngFor="let x of data" class="elemento"> 
                            <!-- Foto -->
                            <a href="Info">
                                <p>ID: {{ x.Titulo }}</p>
                                <p>Provincia: {{ x.Provincia }}</p>
                                <p>Salario: {{ x.Salario }}</p>
                            </a>    
                        </div>
                    
                </div>

            </div>
        
        </div> 
    </body>

</html>