<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Buscador - Ofertas </title>
        <!-- Stylesheet SOLO para pruebas, quitarla luego -->
        <link rel="stylesheet" href="ofertas.component.css">
    </head>
    
    <body>
        <div class="contenedor">
            <div class="filtros"> 
                <h1> Tipo de inmueble </h1>
                <h1> Precio </h1>
                <h1> Estado </h1>
                <h1> Equipamiento </h1>
                <h1> Noticias </h1>  
                <h1> Actividades </h1>
            </div>
            
            <div class="ofertas"> 
                <h2> Le sugerimos los siguientes lugares: </h2>
                <h3> Ordenar por: </h3>

                <div class="elemento"> 
                    <!-- Foto -->
                    <h4> Texto de prueba  </h4>
                    <h4> Ubicación </h4>
                </div>

            </div>
        
        </div> 
    </body>

</html>