<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Buscador - Ofertas </title>
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
        <!-- Stylesheet SOLO para pruebas, quitarla luego -->
        <link rel="stylesheet" href="ofertas.component.css">
    </head>
    
    <body>
        <div class="contenedor">
            <div class="filtros"> 
                <h1> Tipo de inmueble </h1>
                <!-- <div class="combo_tipo"> 
                    <app-combo-box class="combobox"></app-combo-box> 
                </div> -->
                <p> Aquí irá combobox</p> 
                
                <h1> Precio </h1>
                <div class="slidecontainer">
                    <span class="numero_inicio"> 0</span> 
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <span class="numero_fin"> ∞ </span>
                </div>

                <h1> Estado </h1>
                <div class="combobox"> 
                    <app-combo-box></app-combo-box> 
                </div>

                <h1> Equipamiento </h1>
                <div class="combobox"> 
                    <app-combo-box></app-combo-box> 
                </div>                
            </div>
            
            <div class="ofertas"> 
                <h3 class="sugerencia"> Le sugerimos los siguientes lugares: </h3>
                <br>
                <div class="order" > 
                    <h4 class="ordenar"> Ordenar por: </h4>
                    <div class="combobox_ordenar"> 
                        <app-combo-box></app-combo-box> 
                    </div>
                </div>

                <div class="subcontenedor"> 
                    <div *ngFor="let x of data | paginate: { itemsPerPage: 16, currentPage: page}" class="elemento"> 
                        <!-- Foto -->
                        <a href="Info">
                            <div>
                                <img class='imagen' src="../../../assets/info-photo.png" alt="foto de casa">
                            </div>
                            <div class='datos'>
                                <p>Titulo: {{ x.Titulo }}</p>
                                <p>Nº habitaciones: {{ x.Habitaciones }} Metros cuadrados: {{ x.Metros }}</p>
                                <p>Precio: {{ x.Precio }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div> 
    </body>
</html>