<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Buscador - Ofertas </title>
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
        <!-- Stylesheet SOLO para pruebas, quitarla luego -->
        <link rel="stylesheet" href="ofertas.component.css">
    </head>
    
    <body>
        <div class="contenedor">
            <form [formGroup]='filtroVForm' class="filtros"> 
                <h3 class="sugerencia"> Filtro </h3>
                
                <h1> Precio </h1>
                <div class="slidecontainer">
                    <span class="numero_inicio"> 0</span> 
                    <input type="range" min="0" max="100" value="0" class="slider" id="precio">
                    <span class="numero_fin"> ∞ </span>
                </div>

                <h1> Habitaciones </h1>
                <div class="slidecontainer">
                    <span class="numero_inicio"> 0</span> 
                    <input type="range" min="0" max="10" value="0" class="slider" id="">
                    <span class="numero_fin"> ∞ </span>
                </div>

                <h1> Metros cuadrados </h1>
                <div class="slidecontainer">
                    <span class="numero_inicio"> 0</span> 
                    <input type="range" min="0" max="10000" value="0" class="slider" id="">
                    <span class="numero_fin"> ∞ </span>
                </div>
                
                <button type="submit" class='btn_filtro'> Aplicar </button>
            </form>
            
            <div class="ofertas"> 
                <h3 class="sugerencia"> Le sugerimos los siguientes lugares: </h3>
                <div class="subcontenedor"> 
                    <div *ngFor="let x of data | paginate: { itemsPerPage: 16, currentPage: page}" class="elemento"> 
                        <!-- Foto -->
                        <a #casa href="Info" [attr.data-casa-id]="x.id" (click)="getIDComponent(casa)">
                            <div>
                                <img class='imagen' src="{{ x.Url_imagen }}" alt="foto de casa">
                            </div>
                            <div class='datos'>
                                <p class="Titulo"> {{ x.Titulo }}</p>
                                <p>Nº habitaciones: {{ x.Habitaciones }} Metros cuadrados: {{ x.Metros }}</p>
                                <p>Precio: {{ x.Precio }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination"> 
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
               
            </div>
        </div> 
    </body>
</html>