* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url('\src\media\Fondo_dibujo.png') no-repeat center fixed;
    background-size: cover;
    background-color: #1d1b1b;
    height: 100vh;
    font-family: "Lato";
}
  
.contenedor {    
    position: absolute;
    width: 605px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;
}

h1 {
    font-family: 'Lobster Two', cursive;
    color: white;
    text-align: center;
    font-size: 100px;
}

h6 {
    color: #81553F;
    text-decoration: underline;
    margin-right: 80px;
}

.opciones {
    color: #81553F;
    text-decoration: underline;
    display: flex;
    align-content: space-between;
    margin-right: -150px;
    margin-left: 170px;
    text-align: center;
}

.input_div {   
    text-align: center;    
}

.input_field {
    position: relative;
    width: 40vh;
    height: 50px;
    padding: 30px;
    border: 0px;
    background: radial-gradient(93.93% 4131.77% at 6.07% 13.79%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.12) 100%);
    font-size: 16.5px;
    border-radius: 17px;
    margin-right: 17.5px;
    margin-left: 17.5px;
    margin-top: 25px;
}

button {    
    background: radial-gradient(100% 1831.15% at 3.12% 0%, #76C7CA 0%, #94EEF1 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 0;
    position: relative;
    left: 40%;
    width: 120px;
    height: 50px;    
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 32px;
    text-align: center;    
    color: white;
}