<html> 
    <body>
        <!-- Título de la Página Principal -->
        <h1> ¡Encuentra tu zona! </h1>

        <!-- Contenedor con los campos de búsqueda -->
        <div class="contenedor">
            <h3> Lorem ipsum </h3>
            
            <div class="subcontenedor_precio"> 
                <h4> ¿Cuánto es lo máximo que <br> quieres pagar? </h4>
            </div>

            <div class="subcontenedor_vecinos"> 
                <h4> ¿Cuántos vecinos le gustaría tener? </h4>
            </div>

            <div class="subcontenedor_internet"> 
                <h4> ¿Qué calidad de Internet necesitas? </h4>
            </div>

            <button> Buscar </button>


        </div> 

    </body> 
</html>