<html>
    <body>
        <nav class="navbar sticky">
            <a class="logo" href="Mainpage">Absa</a>
            <ul class="nav-links">
                <li class="nav-item"><a href="Ofertas" (click)="setFullFilter()"><img class="nav-icon" src="../assets/Casita.png">Todos los Inmuebles</a></li>
                <li class="nav-item"><a href="Ofertas_Trabajo"><img class="nav-icon" src="../assets/Empleos.png">Todos los Empleos</a></li>
                <li class="nav-item" *ngIf="isLoggedin"><a href="Favoritos"><img class="nav-icon" src="../assets/favs.png">Favoritos</a></li>
            </ul>
            <ul class="nav-forms">
                <li class="nav-item" *ngIf="!isLoggedin"><a href="LoginForm">Login</a></li>
                <li class="nav-item" *ngIf="!isLoggedin"><a href="SignupForm">Sign Up</a></li>
                <li class="nav-item" *ngIf="isLoggedin"><h5>Bienvenido, {{ data }}</h5></li>
                <li class="nav-item" *ngIf="isLoggedin"><button class="btn btn-dark" style="background-color: blue;" (click)="logOut()">Sign-out</button></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>