<html>
<!-- <app-main-page></app-main-page> -->
<!-- <app-login-form></app-login-form> --> 
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-mainpage> </app-mainpage> -->
    <body>
        <nav class="navbar sticky">
            <ul class="nav-links">
                <li class="nav-item"><a class="logo" href="Mainpage">Absa</a></li>
                <li class="nav-item"><a href=""><img class="nav-icon" src="../assets/Casita.png">Inmuebles</a></li>
                <li class="nav-item"><a href=""><img class="nav-icon" src="../assets/Empleos.png">Empleos</a></li>
            </ul>
            <ul class="nav-forms">
                <li class="nav-item" *ngIf="!isLoggedin"><a href="LoginForm">Login</a></li>
                <li class="nav-item"><a href="SignupForm">Sign Up</a></li>
                <li class="nav-item" *ngIf="isLoggedin"><button class="btn btn-dark" (click)="logOut()">Sign-out</button></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>