<html>
<!-- <app-main-page></app-main-page> -->
<!-- <app-login-form></app-login-form> --> 
<!-- <app-signup-form></app-signup-form> -->
<div>
    <nav class="navbar sticky">
        <div class="menu-btn">
            <div class="menu-btn-burger"></div>
        </div>
        <ul class="nav-links">
            <li class="nav-item"><a href="/LoginForm">Login</a></li>
            <li class="nav-item"><a href="/SignupForm">Sign Up</a></li>
        </ul>
    </nav>
</div>
<!--app-mainpage> </app-mainpage>

<router-outlet></router-outlet>
</html>