<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <title> PC2 y PC3 </title>
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="contenedor"> 
        <h1 class="title"> Absa </h1>
        <div class="input_div"> 
            <form [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
                <input class="input_field"  type="text" formControlName="usuario" value="" name="usuario" title="Enter username" placeholder="Introduce tu nombre de usuario" required="required"/>
                <input class="input_field"  type="password" formControlName="password" value=""  name="contraseña" title="Enter password" placeholder="Introduce tu contraseña" required="required"/>
            </form>
            <div class="opciones">  
                <a href="SignupForm"><h6> Regístrate </h6></a>
                <h6> ¿Has olvidado tu contraseña?</h6>
            </div>
        </div>
        <button type="submit"> Log In </button>     
    </div>
</body>
</html>