<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/d2c91c8654.js" crossorigin="anonymous"></script>
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
        <title> PC2 y PC3 </title>
      </head>
    <body>
        <!-- Contenedor con los campos de búsqueda -->
        <div class="contenedor">
            <div class="desc-container">
                <div class="column">
                    <img class="info-photo" src="{{ data[0].Url_imagen }}" alt="info-photo">
                    <div class="column-left">
                        <button class='btn_favs' (click)='rellenar()'><img src="../../../assets/heart-solid.png" alt="heart-solid" style="width: 30px"></button>
                        <div class="row">
                            <p><span class="bold">Precio: </span> {{data[0].Precio}} €</p>
                            <p><span class="bold">Localidad: </span> {{data[0].Localidad}}</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="row">
                        <img class="info-icon" src="../../../assets/phone-solid.png" alt="phone-solid">{{data[0].Telefono}}
                        <!-- <img class="info-icon" src="../../../assets/envelope-solid.png" alt="envelope-solid"> -->
                    </div>
                </div>
                <div class="column-nav">
                    <a href=""><img class="nav-icon" src="../../../assets/Noticias.png">Noticias</a>
                    <!-- <a href=""><img class="nav-icon" src="../../../assets/Actividades.png">Actividades</a> -->
                </div>
            </div>
            <div class="info-container">
                <!--<h2>Casa Espaciosa, Urdillas 26</h2>-->
                <h2>{{data[0].Titulo}}</h2>
                <div class="componente-txt">
                    <h4>Descripción</h4>
                    <p> {{ data[0].Descripcion }}</p>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at dictum felis. Curabitur sit amet dolor at nulla luctus eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sapien lacus, bibendum ac arcu at, porta suscipit mauris. Maecenas orci nisl, euismod sed dui et, eleifend venenatis sem. Sed egestas odio tempus magna hendrerit eleifend.</p>-->
                </div>
                <div class="componente-txt">
                    <h4>Características básicas</h4>
                    <div class="row">
                        <div class="column-txt">
                            <p>{{ data[0].Metros }} m² construidos</p>
                            <p>{{ data[0].Habitaciones }} habitaciones</p>
                            <p>{{ data[0].Banos }} baños</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body> 
</html>