@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap%27");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background: url('\src\media\Fondo_dibujo.png') no-repeat center fixed;
    background-size: cover;
    background-color: #1d1b1b;
    height: 100vh;
    font-family: "Lato";
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

.centro {
    /*padding-top: 15vh;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

.contenedor {    
    position: relative;
    width: 125vh;
    height: 50vh; 
    padding: 20px;
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;

    align-self: center;
    /*Para centrar el contenido del div*/
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lobster Two', cursive;
    color: white;
    text-align: center;
    font-size: 7vh;
    margin-top: 10px;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textfield {
    position: relative;
   
    background: radial-gradient(93.93% 4131.77% at 6.07% 13.79%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.12) 100%);
    border-radius: 30px;
    
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support para que funcione en mozila y chrome */
    -webkit-backdrop-filter: blur(30px);     
    -moz-backdrop-filter: blur(30px);
}

.input_div {   
    padding-bottom: 30px;
    display: flex;
    border-radius: 30px;
    justify-content: space-evenly;
    align-content: center;
    
}

.input_field {
    position: relative;
    width: 30vh;
    height: 50px;
    padding: 30px;
    border: 0px;
    background: radial-gradient(93.93% 4131.77% at 6.07% 13.79%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.12) 100%);
    font-size: 16.5px;
    border-radius: 17px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

.BSignUp {
    margin-top: 20px;
    width: 25vh;
}

button {    
    background: radial-gradient(100% 1831.15% at 3.12% 0%, #76C7CA 0%, #94EEF1 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    border: 0;
    height: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 42px;
    text-align: center;    
    color: white;

    position: relative;
}