<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <title> PC2 y PC3 </title>
  
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
  
</head>

<body>
  <div class= "centro">
    <div class="contenedor"> 
      <h1> ¡Regístrate! </h1>
      <br>
          <div class="input_div"> 
              <form method="POST" action="http://127.0.0.1:8000/register">
                <input type="hidden" name="_token" value="zfkP6a0LGiWGd3Ygx9gcQZISCUvOBLgqIGVmx8xC">
                <div class="input_div">
                  <input class="input_field" [(ngModel)]="name" type="text" value="" name="nombre" title="Enter name" placeholder="Introduce tu nombre"/>
                  <input class="input_field" [(ngModel)]="email" type="email" value="" name="email" title="Enter email" placeholder="Introduce tu email"/>
                  <input class="input_field" [(ngModel)]="password" type="password" value="" name="Password" title="Enter Password" placeholder="Introduce tu contraseña"/>
                </div>
                <div class="input_div">
                  <input class="input_field" [(ngModel)]="username" type="text" value="" name="username" title="Enter Username" placeholder="Introduce tu usuario"/>
                  <input class="input_field" [(ngModel)]="vemail" type="email" value="" name="Vemail" title="Enter Vemail" placeholder="Verifica tu email"/>             
                  <input class="input_field" [(ngModel)]="vpassword" type="password" value="" name="VPassword" title="Enter VPassword" placeholder="Verifica tu contraseña"/>
                </div>
                <div class="input_div">
                  <button class="BSignUp"> Sign Up </button>
                <!-- <button class="BSignUp" type="submit" (click)="register()"> Sign Up </button> -->
                </div>
              </form>
              
          </div>
        <br>
        <br>
      
    </div>
  </div>
  
</body>
</html>