<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <title> PC2 y PC3 </title>
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="contenedor"> 
        <h1> Absa </h1>
        <br>
        
        <div class="input_div"> 
            <form>
                <input class="input_field"  type="text" [(ngModel)]="usuario" value="" name="usuario" title="Enter username" placeholder="Introduce tu nombre de usuario" required="required"/>
                <br>

                <br>
                <input class="input_field"  type="password" [(ngModel)]="password" value=""  name="contraseña" title="Enter password" placeholder="Introduce tu contraseña" required="required"/>

            </form>
            <br>
            <h6> ¿Has olvidado tu contraseña?</h6>
            <br>
        </div>
        <br>
        <!-- <button type="submit" (click)="login()"> Log In </button> -->
        <br>
        <br>
        
    </div>
    
    
</body>
</html>