* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.navbar {
    justify-content: right;
    display: flex;
    padding: 10px 30px;
    align-items: right;
    height: 10vh;
    font-family: 'Lato';
    z-index: 1000;
}

.nav-links {
    display: flex;
    margin-left: 80%;
    align-items: right;
    justify-content: space-around;
    list-style: none;
    width: 100vh;
}

.nav-item {
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.9s;
}

.nav-item a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8vh;
}

body {
    background: url('\src\media\Fondo_dibujo.png') no-repeat center fixed;
    background-size: cover;
    /*background-color: #1d1b1b;*/
    height: 100vh;
    font-family: "Lato";
}

h1 {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    color: #81553F;
    margin-left: 50px;
    align-self: center;
    margin-top: 3%;
}

h4 {
    color: #81553F;
    align-self: center;
    margin-top: 10%;
    text-align: center;
}
  
.contenedor {    
    position: absolute;
    width: 1000px;
    height: 540px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;

    margin-top: 10px;
}

/* Falta lo de gridbox */

.subcontenedor_precio {    
    position: absolute;
    width: 300px;
    height: 370px;
    left: 17%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;

    padding-left: 1px;
}

.subcontenedor_vecinos {    
    position: absolute;
    width: 300px;
    height: 370px;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;
}

.subcontenedor_internet {    
    position: absolute;
    width: 300px;
    height: 370px;
    left: 82%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(93.07% 93.07% at 4.84% 5.08%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    border-radius: 106px;
}

button {    
    background: radial-gradient(100% 1831.15% at 3.12% 0%, #76C7CA 0%, #94EEF1 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 0;
    position: relative;
    left: 38%;
    width: 220px;
    height: 50px;    
    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 32px;
    text-align: center;    
    color: white;

    margin-top: 428px;
}

button:active {
  transform: translateY(4px);
}

.icono_precio {
    position: relative;
    margin-left: 38%;
    margin-top: 30px;
}

.icono_casa {
    position: relative;
    margin-left: 33%;
    margin-top: 30px;
}

.icono_internet {
    position: relative;
    margin-left: 30%;
    margin-top: 30px;
}

/* -------------- Barra del precio -------------- */
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 30px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 3px; /* Specified height */
    background: #D43414; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #D43414; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #D43414; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.numero_inicio {
    margin-left: 50px;
    color: #D43414;
}

.numero_fin{
    margin-right: 6px;
    color: #D63610;
    font-size: 20px;
}

.baja {
    margin-left: 15px;
    color: #D63610;
    font-size: 18px;
}

.alta{
    margin-right: 10px;
    color: #D63610;
    font-size: 18px;
}

/* ------- fin de estilo de la barra de precio -------- */